* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

main {
  min-height: 600px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 20px;
  padding: 20px;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
